.Eightball {
    border-radius: 50%;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}